
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h1>Ops! Sayfada bir hata oluştu. Hata Mesajı : @TempData["HataMesaji"]</h1>
    </div>
</body>
</html>
