
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Index Sayfası</h1>

        <h2>Online Ziyaretçi Sayısı: @HttpContext.Current.Application["OnlineZiyaretciSayisi"]</h2> @* httpcontext*@
        
    </div>
</body>
</html>
